.about{
  position: relative;
  padding:4rem 0 10rem 0;

  .split{
    position: relative;
    width:50%;
    z-index: 2;

    &-l{
      width:100%;

      .text{
        margin-top:2rem;
      }
    }

    &-r{
      margin-top:1.25rem;
      width:100%;
      z-index: 1;

      .images{
        position: relative;
        @include clearfix;
        width:70%;

        &__image{
          position: relative;

          &--bottom{
            width:110%;
            overflow: hidden;
          }
          &--top{
            position: absolute;
            left:auto;
            left:3rem;
            bottom:-4rem;
            z-index: 3;
            width:110%;
            
            img{
              border:.35rem solid white;
            }
          } 
        }
      }
    }
  }

  .wrapper{
    display:flex;
    flex-wrap:wrap;
  }
  h2{
    color:white;  
  }
  .small-title{
    display:flex;
    color:darken($brandColor, 10%);
    margin:0 0 .5rem .25rem;
    text-transform: uppercase;
    margin-left:-.75rem;

    &:before{
      content:"";
      position: relative;
      align-self:center;
      left:-.5rem;
      width:1rem;
      height:2px;
      background:currentColor;
      opacity: 0.5;
    }
  }

  &__bg-img{
    position: absolute;
    width:100%;
    height:560px;
    bottom:0;
    left:0;

    &:after{
      content:"";
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:400px;
      background: linear-gradient(to top, rgba(189,177,167,0) 0%,rgba(189,177,167,1) 98%);
    }

    .image{
      position: relative;
      width:100%;
      height:100%;
      opacity:0.2;
      background-size:cover;
      
    }
  }
}


@mixin about-section--sm-md(){
  .about{
    padding:8rem 0 16rem 0;

    .split{
      width:50%;
  
      &-l{
        width:70%;
      }
  
      &-r{
        width:30%;
  
        .images{
          width:120%;
          left:-8rem;
          top:0;
  
          &__image{
  
            &--top{
              left:auto;
              right:-8rem;
              width:110%;
              
              img{
                border:.35rem solid white;
              }
            } 
          }
        }
      }
    }


    h2{
      // line-height: 3.2rem;
    }
    
    .wrapper{
      justify-content: space-between;
    }
    p{
      width:50%;
    }
    
  }
}