.all-projects{
  padding-bottom:8rem;

  .wrapper{
    display:flex;
    flex-wrap:wrap;
  }

  a{
    flex: 0 0 50%;
    display:flex;
    align-items: center;
    height:15rem;
  }
}

.our-projects{
  position: relative;
  z-index: 2;
  margin-top:-12rem;
  padding-bottom:5rem;

  .wrapper{
    padding:0;
  }

  header{
    text-align: center;
    color:white;

    .small-title{
      margin-bottom:.5rem;
    }

    h2{
      text-transform: uppercase;
    }
  }

  &__projects{
    margin-top:1rem;

    .wrap{
      display: flex;
      align-items: stretch;
      justify-content:center;
    }

    .split{
      flex: 0 0 50%;
      background:green;
    }
  }
}