.all-projects{
  padding-bottom:8rem;
  margin-top:3rem;

  .wrapper{
    padding:0;
    display:flex;
    flex-wrap:wrap;
  }

  a{
    flex: 0 0 100%;
    display:flex;
    align-items: center;
    height:18rem;
  }
}

.our-projects{
  position: relative;
  z-index: 2;
  padding-bottom:4rem;

  .wrapper{
    padding:0;
    margin-top:-8rem;
  }

  &__projects{
    margin-top:1rem;

    .wrap{
      display: flex;
      flex-wrap:wrap;
      align-items: stretch;
      justify-content:center;
    }

    .split{
      flex: 0 0 100%;
    }
  }
}

@mixin our-projects--md(){
  .all-projects{

    a{
      flex: 0 0 50%;
    }
  }
  .our-projects{
    padding-bottom:5rem;

    .wrapper{
      margin-top:-12rem;
    }

    &__projects{
      .split{
        flex: 0 0 50%;
      }
    }
  }
}