.outter-wrapper{
  display: flex;
  width:100%;
  // overflow: hidden;
}

.wrapper{
  padding:0 2rem;
  max-width:1440px;
  width:100%;
  margin:0 auto;
}


@mixin gen_layout--md(){
  .outter-wrapper{
    width: calc(100% - 8rem);
    margin:0 auto;
  }
  .wrapper{
    padding:0 0rem;
  }

  
}

@mixin gen_layout--lg(){
  .outter-wrapper{
    width: calc(100% - 8rem);
  }
  .wrapper{
    padding:0 2rem;
  }
}
